
<div style="margin-top: 50px;">
    <p>
        <a href="https://github.com/SinchowGit" style="color: black;"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/saurabh-kumar-7b947a156/"><i class="fab fa-linkedin"></i></a>
        
        <a href="" style="color: black;"><i class="fas fa-envelope"></i></a>
    </p>
</div>

    </body>
</html>