<%- include('partials/header') %> 
<%- include('partials/nav') %>

<h1>About "Covid Updates"</h1>
<p>In this site you can see all data related to covid cases of India. You can see statewise data as well as district wise data along with their graph.</p>
<p>We have used a <a href="https://api.covid19india.org/state_district_wise.json">API</a> as source of data. All the data is acurate and keeps updated on regular basis.</p>

<%- include('partials/footer') %>